<% @body_name = "alert" %>

<h4> Your complaint was sent successfully! </h4>
<p> Name: <%= params[:name] %> </p>
<p> E-mail: <%= params[:email] %> </p>
<p> Company-mail: <%= params[:company_mail] %> </p>
<p> Time: <%= params[:time] %> </p>
<p> Bus Line: <%= params[:bus_line] %> </p>
<% if params[:image] != nil %>	
	<p> Image: <%= image_tag(params[:image], size: "800") %> </p>
<% end %>
<p> Comment: <%= params[:comment] %> </p>
