<% @body_name = "posthandler" %>

<div class="container" style="height: 100%">
<h2>Жалбата Ви е изпратена успешно.</h2>
<h4>Вашето съобщение:</h4>
<table class="table table-bordered">
	<thead>
	  <tr>
	    <th><strong>Поле</strong></th>
	    <th><strong>Съдържание</strong></th>
	  </tr>
	</thead>
	<tbody>
	  <tr>
	    <td><strong>Име на подателя</strong></td>
	    <td><%= params[:name] %> </td>
	  </tr>
	  <tr>
	    <td><strong>E-mail на подателя</strong></td>
	    <td><%= params[:email] %></td>
	  </tr>
	  <tr>
	    <td><strong>E-mail на концесионера, до който е изпратена:</strong></td>
	    <td><%= params[:company_mail] %></td>
	  </tr>
	  <tr>
	    <td><strong>Час на инцидента:</strong></td>
	    <td><%= params[:time] %></td>
	  </tr>
	  <tr>
	    <td><strong>Линия, на която се е случил инцидента:</strong></td>
	    <td><%= params[:line] %></td>
	  </tr>
	  <tr>
	  	<td><strong>Номер на превозното средство:</strong></td>
	    <td><%= params[:bus_id] %></td>
	  </tr>
		<% if params[:image] != nil %>
			<tr>
				<td><strong>Снимка на жалбата:</strong></td>
				<td><%= image_tag(params[:image], size: "500") %></td>
			</tr>
		<% end %>
	  <tr>
	    <td><strong>Коментар към жалбата:</strong></td>
	    <td><%= params[:comment] %></td>
	  </tr>
	</tbody>
</table>
</div>