<% @body_name = "alert" %>
<% require_relative '../../controllers/buslines/parse_lines.rb' %>

<div class="container">
<%= form_for :alert , :html => { :multipart => true } do |f| %>
	 <%= f.label 'Собствено име: ' %><br />
  	 <%= f.text_field :first_name, :required => true, class: "form-control" %> <br /> <br />
  	 <%= f.label 'Фамилия: ' %><br />
  	 <%= f.text_field :last_name, :required => true, class: "form-control" %> <br /> <br />
  	 <%= f.label 'E-mail: '%><br />
  	 <%= f.email_field :email, :required => true, class: "form-control" %> <br /> <br />
  	 <%= f.label 'Време на инцидента: ' %> <br />
  	 <%= f.time_field :time, :required => true, class: "form-control" %> <br /> <br />
  	 <%= f.label 'Автобусна линия: ' %> <br />
  	 <% @bus_lines = get_bus_lines %>
     <% @trolley_lines = get_trolley_lines %>
     <% @tram_lines = get_tram_lines %>
     <% @subway_lines = get_subway_lines %>
     
    <%= f.radio_button :transport, 'bus' %> <strong>Bus</strong>
    <%= f.radio_button :transport, 'trolley' %> <strong>Trolley</strong>
    <%= f.radio_button :transport, 'tram' %> <strong>Tram</strong>
    <%= f.radio_button :transport, 'subway' %> <strong>Subway</strong>
     <br />
  	 <%= f.label 'Bus line: ' %> <br />
     <%= f.select :bus_line, options_for_select([["Select bus line...", ""]] + @bus_lines), {}, {:class => "form-control"} %> <br /> <br />
     <%= f.label 'Tram line: ' %> <br />
     <%= f.select :tram_line, options_for_select([["Select tram line...", ""]] + @tram_lines), {}, {:class => "form-control"} %> <br /> <br />
     <%= f.label 'Subway line: ' %> <br />
     <%= f.select :subway_line, options_for_select([["Select subway line...", ""]] + @subway_lines), {}, {:class => "form-control"} %> <br /> <br />
     <%= f.label 'Trolley line: ' %> <br />
     <%= f.select :trolley_line, options_for_select([["Select trolley line...", ""]] + @trolley_lines), {}, {:class => "form-control"} %> <br /> <br />
     <%= f.label 'Номер на превозното средство:' %> <br />
     <%= f.text_field :bus_id, :required => true, class: "form-control", :maxlength=>"4" %> <br /> <br />
  	 <%= f.label 'Снимка към инцидента: ' %><br />
  	 <%= f.file_field :image, class: "btn btn-default btn-lg btn-block" %> <br /> <br />
  	 <%= f.label 'Коментар: ' %><br />
	   <%= f.text_area :comment, :cols => 60, :rows => 10, :required => true, class: "form-control" %> <br /> <br />
     <%= f.submit 'Пусни жалбата', class: "btn btn-default btn-lg btn-block" %>
<% end %>
</div>  