<% @body_name = "alert" %>
<% require_relative '../../controllers/buslines/parse_lines.rb' %>

<h1>Alert</h1>
<%= form_for :alert do |f| %>
	 <%= f.label 'First Name: ' %><br />
  	 <%= f.text_field :first_name, :required => true %> <br /> <br />
  	 <%= f.label 'Last Name: ' %><br />
  	 <%= f.text_field :last_name, :required => true %> <br /> <br />
  	 <%= f.label 'Email: '%><br />
  	 <%= f.email_field :email, :required => true %> <br /> <br />
  	 <%= f.label 'Time: ' %> <br />
  	 <%= f.time_field :time, :required => true %> <br /> <br />
  	 <%= f.label 'Bus Line: ' %> <br />
  	 <% @bus_lines = get_bus_lines %>
  	 <%= f.select :bus_line, options_for_select([["Select bus line...", ""]] + @bus_lines), :required => true %> <br /> <br />
  	 <%= f.label 'Comment: ' %><br />
	   <%= f.text_area :comment, :cols => 60, :rows => 10, :required => true %> <br /> <br />
     <%= f.submit 'Submit' %>
<% end %>
